.vs
UserSettings
Temp
obj
build
Library
Logs
lostmatch
Builds
.DS_Store
Assembly-CSharp.csproj
lost-match.sln
ProjectSettings/BurstAotSettings_StandaloneOSX.json
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectSettings.asset
Assembly-CSharp.csproj
ProjectSettings/ProjectSettings.asset
ProjectSettings/ProjectSettings.asset
Assembly-CSharp.csproj
ProjectSettings/ProjectSettings.asset
